.metricsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
}

/* KeyValue metric (IMPORTANT) */

.kvMetricImportant {
    min-width: 160px;
    width: 100%;
    height: 80px;
    border-radius: 6px;
    background: linear-gradient(160deg, #303030 0%, var(--accent-color) 1500%);
    border: 1px solid #3e3d3d9d;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-shadow: var(--shine-border);
}

.kvMetricImportant > .metricTitle {
    color: var(--text-color);
    font-family: 'Ubuntu Sans Mono';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.kvMetricImportant > .metricValue {
    text-align: center;
    font-family: 'Ubuntu Sans Mono';
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin: 0;
    margin-top: 12px;
}


/* KeyValue metric (STANDARD) */

.kvMetricStandard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(160deg, #303030 0%, var(--accent-color) 1500%);
    border-radius: 4px;
    width: 100%;
    min-width: 160px;
    border: 1px solid #3e3d3d59;
    gap: 12px;
    padding: 6px;
    height: min-content;
    box-shadow: var(--shine-border);
}

.kvMetricStandard > .metricTitle {
    margin-block: 0;
    color: var(--text-color);
    font-family: 'Ubuntu Sans Mono';
    font-size: 14px;
}

.kvMetricStandard > .metricValue {
    margin-block: 0;
    font-family: 'Ubuntu Sans Mono';
    color: white;
    font-weight: 400;
    background-color: #a1a1a11a;
    border: 1px solid #49494959;
    padding-block: 4px;
    padding-inline: 6px;
    border-radius: 4px;
}

/* Chart mteric */

.chartMetric {
    width: 100%;
    height: 400px;
    background: linear-gradient(160deg, #303030 0%, var(--accent-color) 3000%);
    border: 1px solid #3e3d3d59;
    border-radius: 6px;
    box-shadow: var(--shine-border);
}

.chartPreview {
    margin-left: -10px;
}


/* Switch between realtime and time travel */

#performanceTimingInfo {
    position: relative;
    height: 30px;
    width: 100%;
    color: var(--text-color);
    border-bottom: 1px solid #ffffff0f;
    font-size: 14px;
    font-weight: 500;
    padding-left: 4px;
    padding-bottom: 12px;
}

#performanceTimingName {
    margin-left: 18px;
}

.dot {
    position: relative;
}

.dot:before {
    content: '';
    margin-top: 6px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    background-color: var(--perf-timing-color);
    border-radius: 50%;
}

.dot:after {
    content: '';
    position: absolute;
    z-index: 1;
    margin-top: 6px;
    background-color: var(--perf-timing-color);
    border-radius: 50%;
    animation: ripple 1.25s ease-out infinite;

}

@keyframes ripple {
    0% {
        left: 5px;
        top: 5px;
        opacity: .75;
        width: 0;
        height: 0;
    }

    100% {
        left: -6px;
        top: -6px;
        opacity: 0;
        width: 20px;
        height: 20px;
    }
}

#performanceHistoryBtn {
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 6px;
    color: #ffffff70;
    cursor: pointer;
    transition: color .4s;
}

#performanceHistoryBtn:hover {
    color: rgba(255, 255, 255, 0.753);
}

/* Time travel mode */

#performanceTimetravelPanel {
    position: absolute;
    height: 48px;
    width: max-content;
    background-color: #1f1f1fb5;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    border: 1px solid #ffffff0d;
    box-shadow: 0px 4px 20px -2px #00000063, var(--shine-border);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    transition: opacity .4s, bottom .4s;
    backdrop-filter: blur(8px);
}

#performanceTimetravelPanel[hidden="1"] {
    opacity: 0;
    bottom: -150px;
}

.performanceTimetravelSelect {
    padding-block: 6px;
    padding-inline: 8px;
    cursor: pointer;
    background-color: #272727;
    border-radius: 6px;
    border: none;
    color: var(--text-color);
    border: 1px solid #ffffff03;
    transition: background-color .4s;
    font-family: 'Ubuntu Sans Mono';
}

.performanceTimetravelSelect:hover {
    background-color: #383838;
}

.performanceTimetravelSelect > option {
    background-color: #383838;
    font-family: 'Ubuntu Sans Mono';
    cursor: pointer;
}

.performanceTimetravelLabel {
    color: var(--text-color);
    margin-right: 8px;
}

#timetravelDate {
    width: 120px;
}

#timetravelHours {
    width: 134px;
}

#timetravelRunBtn {
    border-radius: 6px;
    padding-block: 3px;
    border: 1px solid #00000038;
    background-color: var(--text-color);
    font-weight: 500;
    padding-inline: 10px;
    cursor: pointer;
    color: black;
    margin-bottom: 1px;
}

#timetravelRunBtn > i {
    font-size: 12px;
    margin-right: 6px;
}

.timetravelChagneDumpBtn {
    color: #6f6f6f;
    cursor: pointer;
    transition: color .4s;
}

.timetravelChagneDumpBtn:hover {
    color: white
}

#timetravelCurrentTime {
    padding-top: 1px;
    margin-inline: 4px;
    font-weight: 500;
    color: #b3b3b3;
    width: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#timetravelCurrentMinute {
    color: var(--text-color);
}
