@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --accent-color: #583a3e;
    --text-color: #e1e0e0;
    --shine-border: inset 0px 1px 0px 0px #9898983b;
    --perf-timing-color: #97c47e;
    --perf-timetravel-progress: 43%;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: #181818;
    background: linear-gradient(135deg, #181818 0%, var(--accent-color) 400%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 0;
    gap: 8px;
}

.shine {
    box-shadow: var(--shine-border);
}

.panel {
    background-color: #222222cf;
    border: 1px solid #ffffff0a;
    border-radius: 8px;
}

#tabsContainer {
    position: relative;
    width: 100%;
    height: 42px;
    background-color: #292929c9;
    border: 1px solid #ffffff0a;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    margin-top: 6px;
}

#connectionStatus {
    position: absolute;
    right: 8px;
    font-size: 10px;
    border-radius: 16px;
    transition: background-color .4s, border .4s, color .4s;
    text-align: center;
    width: auto;
    height: auto;
    padding-block: 5px;
    padding-inline: 7px;
}

#connectionStatus[status="1"] {
    background-color: #70bb703d;
    border: 1px solid #62c06236;
    color: #dbfdc7cf;
}

#connectionStatus[status="0"] {
    background-color: #bb70703d;
    border: 1px solid #c0626236;
    color: #fdc7c7cf;
}


#tabsViews {
    width: 100%;
    height: 100%;
}

.tabView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.tabView[active="0"] {
    display: none !important;
}

.tab {
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .4s, color .4s;
    padding-inline: 8px;
    gap: 10px;
}

.tab:hover {
    background-color: #ffffff0f;
}

.tab[active="1"] {
    background-color: #ffffff21;
    box-shadow: var(--shine-border);
}

.tabsSep {
    height: 65%;
    width: 2px;
    background-color: #ffffff17;
}

.tabIcon {
    color: #ffffff85;
}

.panelHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-color);
    background-color: #2b2a2ad1;
    border-bottom: 1px solid #ffffff0a;
    border-radius: 8px 8px 0px 0px;
    padding-block: 8px;
    padding-inline: 12px;
    box-shadow: var(--shine-border);
}

.panelHeader > h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 100px;
    padding-bottom: 4px;
}

::-webkit-scrollbar-track {
    background-color: #181818;
}

::-webkit-scrollbar-thumb {
    background: #ffffff3b;
    border-radius: 0px;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff31;
    cursor: pointer;
    border-radius: 100px;
}

.radio-inputs {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid #d7d7d70d;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
    background-color: #272727;
    border-radius: 6px;
    transition: background-color 0.3s;
    flex-direction: row;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
    transition: background-color .4s;
    border-radius: 6px;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
    padding-block: 1.5px;
    color: var(--font-color);
    transition: background-color .2s;
    padding-inline: 8px;
    font-weight: 400 !important;
    font-size: 14px;
}

.radio-inputs .radio:hover {
    border-radius: 6px;
    background-color: #58585838;
}

.radio-inputs .radio input:checked + .name {
    background-color: #ffffff12;
    outline: 1px solid #ffffff1a;
    color: white;
}

.radio-inputs .radio .name i {
    color: #9a9a9a;
    margin-right: 6px;
    font-size: 13px;
}
