@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:wght@400..700&display=swap');

:root {
    --accent-color: #242334;
    --text-color: #e1e0e0;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    background-color: #181818;
    background: linear-gradient(135deg, #181818 0%, var(--accent-color) 270%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    padding: 12px;
    margin: 0;
    gap: 8px;
}

#tabsContainer {
    position: relative;
    width: 100%;
    height: 44px;
    background-color: #2d2d2dcf;
    border: 1px solid #ffffff0a;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#connectionStatus {
    position: absolute;
    right: 12px;
    font-size: 12px;
    border-radius: 10px;
    transition: background-color .4s, border .4s, color .4s, width .4s, height .4s;
    text-align: center;
}

#connectionStatus[status="1"] {
    background-color: #70bb703d;
    border: 1px solid #62c06236;
    width: 12px;
    height: 12px;
}

#connectionStatus[status="0"] {
    background-color: #bb70703d;
    border: 1px solid #c0626236;
    color: #fdc7c7cf;
    width: auto;
    height: auto;
    padding-block: 2px;
    padding-inline: 6px;
}


#tabsViews {
    width: 100%;
    height: 100%;
}

.tabView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.tabView[active="0"] {
    display: none !important;
}

.tab {
    height: 100%;
    background-color: #ffffff08;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
    justify-content: space-evenly;
    border: 1px solid #ffffff0a;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .4s, color .4s;
    padding-inline: 8px;
    gap: 10px;
}

.tab:hover {
    background-color: #ffffff1c;
}

.tab[active="1"] {
    background-color: #ffffff30;
    border: 1px solid #e1e0e01f;
    box-shadow: 0px 10px 16px -3px #ffffff1c;
}

.tabIcon {
    padding-top: 2px;
}
